h1 {
	text-align: center;
	font-size: 36px;
}

hr {
	display: block;
    height: 4px;
    border: 0;
    border-top: 4px solid black;
    margin: 1em 0;
    padding: 0;
}

#img2 #img3 {
	float: right;
}

.section2 {
	width: 100%;
	position: relative;
}

.mainbody, .facts {
	border-style: solid;
	border-color: navy;
	border-width: 3px;
	padding: 15px;
	margin: 0px;
}

.mainbody /* Width and Poistion */{
	width: 65%;
	position: absolute;
}

.facts /* Width and Position */{
	width: 30%;
	position: absolute;
	right: 0px;

}



/*
.imagebox {
	display: block
	margin: 0 auto 
}
*/